<!DOCTYPE html>
<html>
  <head>
    <title>NoSprocketsExample</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag *webpack_asset_paths('common', extension: 'js') %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
    <% unless Rails.env == 'production' %>
      <%= javascript_include_tag 'http://localhost:3808/webpack-dev-server.js' %>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
